<div class="header">
  <nav>
    <app-logo [logoPath]="logoPath"></app-logo>
    <ul class="nav-wrapper" *ngIf="navItems">
      <ng-container *ngFor="let navItem of navItems">
        <li class="nav-item" *ngIf="navItem.enabled">
          <a
            [routerLink]="[navItem.url]"
            [ngClass]="{ disabled: !navItem.url }"
          >
            {{ navItem.title }}
          </a>
        </li>
      </ng-container>
      <li *ngIf="!isLoggedIn; else showLogout">
        <div [routerLink]="['/auth/login']" class="login-btn">
          Login
        </div>
      </li>
      <ng-template #showLogout>
        <li>
          <div [routerLink]="['/auth/logout']" class="login-btn">
            Logout
          </div>
        </li>
      </ng-template>
    </ul>
  </nav>
</div>
