<div class="header">
  <nav>
    <app-logo [logoPath]="logoPath"></app-logo>
    <ul class="nav-wrapper" *ngIf="navItems">
      <ng-container *ngFor="let navItem of navItems">
        <li class="nav-item" *ngIf="navItem.enabled">
          <a
            [routerLink]="[navItem.url]"
            [ngClass]="{ disabled: !navItem.url }"
          >
            {{ navItem.title }}
          </a>
        </li>
      </ng-container>
      <li *ngIf="showLoginBtn">
        <div [routerLink]="['/login']" class="login-btn">
          Login
        </div>
      </li>
    </ul>
  </nav>
</div>
