h1 {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 2em;
  input {
    font-size: 1rem;
    padding: 0.5em;
    margin-top: 1em;
    width: 200px;
  }
  button {
    display: block;
    font-size: 1rem;
    background-color: #197dd2;
    color: #fff;
    padding: 1em;
    width: 220px;
    cursor: pointer;
    border: 1px solid #197dd2;
    margin: 1rem 0rem;
    &:hover {
      background-color: #fff;
      color: #197dd2;
      transition: 300ms;
    }
  }
  a {
    text-decoration: none;
    color: orange;
  }
  .error-wrapper {
    background-color: #197dd2;
    color: #fff;
    padding: 0.5em;
    margin-bottom: 1em;
  }
  .form-error {
    font-weight: bold;
    color: red;
    font-size: 0.75rem;
    margin: 0 0.3rem;
  }
}
