h1 {
  font-size: 1.3rem;
}
.user-info-block {
  margin-bottom: 2rem;

  h2 {
    font-size: 1rem;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control-label {
  font-size: 0.75rem;
}

.form-control {
  margin-bottom: 1rem;
  line-height: 120%;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  max-width: 50%;
}

.bs-list {
  padding-left: 2rem;
  h3 {
    font-size: 0.75rem;
  }
  .bs-form {
    display: flex;
    align-content: center;
    .delete-bs {
      margin-left: 0.2rem;
      font-size: 0.75rem;
      height: 100%;
      background-color: transparent;
      font-size: 1.2rem;
      font-weight: bold;
      border: none;
      color: red;
      &:hover {
        cursor: pointer;
        color: crimson;
      }
      &:focus {
        border: none;
      }
    }
  }
}

.main-btn {
  font-size: 1rem;
  background-color: #197dd2;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid #197dd2;
  &:hover {
    background-color: #fff;
    color: #197dd2;
    transition: 300ms;
  }
  &.save {
    width: 10rem;
  }
}
