.sidenav-wrapper {
  height: 100%;
  background-color: #fff;
  padding-top: 1.5em;
  display: flex;
  flex-direction: column;
  .sidenav-item {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    width: calc(100% - 1em);
    &:hover {
      background-color: darkgray;
    }
    a {
      text-decoration: none;
      color: black;
      display: block;
    }
  }
}
