<p><a [routerLink]="['/users']">< Back to Users</a></p>
<ng-container *ngIf="user">
  <div class="user-profile">
    <h1>{{ user.name | uppercase }}</h1>
    <p class="username">{{ user.username }}</p>
    <table>
      <tr>
        <td>Phone</td>
        <td>{{ user.phone }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <td>Website</td>
        <td>{{ user.website }}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{ user.address | concatField: "city":"street" }}</td>
      </tr>
      <tr>
        <td>Company</td>
        <td>{{ user.company | concatField: "name" }}</td>
      </tr>
    </table>
  </div>
</ng-container>
